In [15]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting sample1.csv

In [14]:
# CSV는 Comma-Separated Values 의 약자로, 데이터를 쉼표(,)로 구분한 텍스트 파일
import csv 

csv_file = open("sample1.csv")
reader = csv.reader(csv_file)

reader

for row in reader: 
    print(row)
    print(type(row))

['id', 'name', 'price', 'amount']
<class 'list'>
[]
<class 'list'>
['1', 'apple', '5000', '5']
<class 'list'>
[]
<class 'list'>
['2', 'pencil', '500', '42']
<class 'list'>
[]
<class 'list'>
['3', 'pineapple', '8000', '5']
<class 'list'>
[]
<class 'list'>
['4', 'pen', '1500', '10']
<class 'list'>
[]
<class 'list'>

In [13]:
# CSV 저장
import csv

data = [
    ['id', 'name', 'price', 'amount'],
    ['1', 'apple', '5000', '5'],
    ['2', 'pencil', '500', '42'],
    ['3', 'pineapple', '8000', '5'],
    ['4', 'pen', '1500', '10']
]

csv_file = open("sample2.csv", "w")
writer = csv.writer(csv_file)
writer.writerows(data)

csv_file.close()

In [17]:
# 판다스로 컨트롤하기
import pandas as pd

df_emp = pd.read_csv("emp.csv")
df_emp.info()
df_emp.describe()
df_emp.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   empno     14 non-null     int64
 1   ename     14 non-null     object
 2   job       14 non-null     object
 3   mgr       13 non-null     float64
 4   hiredate  14 non-null     object
 5   sal       14 non-null     int64
 6   comm      4 non-null      float64
 7   deptno    14 non-null     int64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.0+ KB

   empno   ename        job     mgr    hiredate   sal    comm  deptno
0   7839    KING  PRESIDENT     NaN  1981-11-17  5000     NaN      10
1   7698   BLAKE    MANAGER  7839.0  1981-05-01  2850     NaN      30
2   7782   CLARK    MANAGER  7839.0  1981-05-09  2450     NaN      10
3   7566   JONES    MANAGER  7839.0  1981-04-01  2975     NaN      20
4   7654  MARTIN   SALESMAN  7698.0  1981-09-10  1250  1400.0      30

In [21]:
import pandas as pd

names = ['Kim', 'Park', 'Lee', 'Shin']
ages = [25, 29, 21, 33]
address = ['서울', '대구', '춘천', '제주']

dictionary = {
    'name' : names,
    'age' : ages,
    'address' : address
}

df = pd.DataFrame(dictionary)
df.info()

# 인덱스 열 없이 저장
df.to_csv("사원정보.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   age      4 non-null      int64
 2   address  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [25]:
%%writefile sample.json 

[
    {
      "id": "A001",
      "city": "Tokyo",
      "country": "Japan",
    },
    {
      "id": "B012",
      "city": "Jerusalem",
      "country": "Isreal",
    },
    {
      "id": "C123",
      "city": "Busan",
      "country": "South Korea",
    }
]

Overwriting sample.json

In [31]:
df_json = pd.read_json("sample.json")

df_json.info()
df_json.describe()
df_json.head()

url = 'https://jsonplaceholder.typicode.com/users'
df_json = pd.read_json(url)
df_json.head()

# 데이터프레임을 json으로 변환
import pandas as pd

data = {
    "이름": ['John', 'Doe', 'Jane'], 
    "나이": [30, 25, 28], 
    "성별": ["남성", "남성", "여성"]
}

df = pd.DataFrame(data)

json_data = df.to_json(orient='records', indent=4)
print(json_data)

# JSON 파일로 바로 저장
df.to_json('data.json', orient='records', force_ascii=False, indent=4)
df.to_json('행기준.json', orient='records', force_ascii=False, indent=4)
df.to_json('열기준.json', orient='columns', force_ascii=False, indent=4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       3 non-null      object
 1   city     3 non-null      object
 2   country  3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes
[
    {
        "\uc774\ub984":"John",
        "\ub098\uc774":30,
        "\uc131\ubcc4":"\ub0a8\uc131"
    },
    {
        "\uc774\ub984":"Doe",
        "\ub098\uc774":25,
        "\uc131\ubcc4":"\ub0a8\uc131"
    },
    {
        "\uc774\ub984":"Jane",
        "\ub098\uc774":28,
        "\uc131\ubcc4":"\uc5ec\uc131"
    }
]

In [36]:
%%writefile test.xml
<?xml version="1.0" encoding="utf-8"?>
<world name = "주소록과 네이버 API 서비스키">

    <people name='김민국'>
        <age>15</age>
        <tall>183cm</tall>
        <add>서울시 서대문구</add>
    </people>
    
    <people name='박한솔' >
        <age>30</age>
        <tall>175cm</tall>
        <add>서울시 용산구</add>
    </people>
    
    <naver_api>
        <client_id>JXRlq56Db1L0PA</client_id>
        <client_secret>hwiniqqkgvH</client_secret>
    </naver_api>
    
</world>

Overwriting test.xml

In [ ]:
# Extendsible Markup Language (XML) <>
# html 도 xml 의 한 종류일 뿐
# 부모 자식 트리 구조로 메모리에 올림
import xml.etree.ElementTree as ET

tree = ET.parse("test.xml")
root = tree.getroot()
print(root.tag)
print(root.get('name'))

for child in root: 
    print(child.tag, child.attrib)
    
# age 태그의 나이 전부
for age in root.iter('age'):
    print(age.text) 

# iter 는 for 문에 돌릴 수 있게 하는 거.

world
주소록과 네이버 API 서비스키
people {'name': '김민국'}
people {'name': '박한솔'}
naver_api {}
15
30

In [45]:
# 웹 크롤링 할 때 자주 사용되는 Python 라이브러리 BeautifulSoup 과 Selenium
# BeautifulSoup 라이브러리를 이용하여 xml 파일을 아래와 같이 파싱하여 텍스트 데이터를 추출

from bs4 import BeautifulSoup as bs

# csv_file = open('sample2.csv', 'w')
# f는 csv_file 와 똑같다
# 단 차이점은, with as 를 쓰게 되면 f.close() 가 자동으로 됨
with open("test.xml", "r") as f: 
    xml_doc = f.read()
    
soup = bs(xml_doc, "xml")

for row in soup.find_all("people"): 
    print(row.get('name'))
    print(row.age.text)
    print(row.tall.text)
    print(row.add.text)
    
# XML 데이터를 파싱하여 데이터프레임으로 저장
# 아쉽게도 한방짜리 함수가 없음
import pandas as pd
persons = []

for p in soup.find_all('people'):
    persons.append({
       '이름': p.get('name'), 
       '나이': p.age.text, 
       '키': p.tall.text, 
        '주소': p.add.text
    } )

# 념파이/리스트/딕셔너리 로 만들어가지고 데이터프레임에 넣기

df = pd.DataFrame(persons)
df

김민국
15
183cm
서울시 서대문구
박한솔
30
175cm
서울시 용산구

    이름  나이      키        주소
0  김민국  15  183cm  서울시 서대문구
1  박한솔  30  175cm   서울시 용산구

In [3]:
# 네이버 크롤링예제
import requests 
from bs4 import BeautifulSoup

# url = "https://kin.naver.com/search/list.naver?query=%ED%8C%8C%EC%9D%B4%EC%8D%AC"
# 문자열을 하나 입력 받아, 지식인에서 가장 위에 나오는 타이틀(제목)은?
keyword = input()

url = f"https://kin.naver.com/search/list.naver?query={keyword}"

# url = "https://naver.com"
response = requests.get(url) # request 는 웹 브라우저

# print(response.text)

if response.status_code == 200: 
    html = response.text
    # print(html)
    soup = BeautifulSoup(html, 'html.parser')
    title = soup.select_one('#s_content > div.section > ul > li:nth-child(1) > dl > dt > a')  
    print(title)
    print(title.get_text())
else: 
    print(response.status_code)
    
# 오른쪽 마우스 -> 검사 -> 오른쪽 마우스 -> copy -> copy selector

<a class="_nclicks:kin.txt _searchListTitleAnchor" href="https://kin.naver.com/qna/detail.naver?d1id=7&amp;dirId=71103&amp;docId=487198560&amp;qb=64+87KeA&amp;enc=utf8" target="_blank">덜 익은 <b>돼지</b>고기 먹고 설사</a>
덜 익은 돼지고기 먹고 설사